@mixin cardTag {
  width: max-content;
  color: #fff;
  border-radius: 50px;
  font-size: 12px;
  line-height: 23px;
  font-weight: 600;
  padding-inline: 11px;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &__row {

    @media (max-width: 640px) {
      flex-direction: row;
    }

  }

  &__hit {
    @include cardTag;
    background: #AC59F1;
  }

  &__discount {
    @include cardTag;
    background: #18C576;
  }

  &__daily {
    @include cardTag;
    background: #FFA726;
  }
}