:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #F2F2F2;
}

p{
  margin: 0;
}

h3{
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

#app {
  width: 100%;
  max-width: 1920px;
  margin-inline: auto;
  text-align: center;
  min-height: 100vh;
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.2s ease;
}